
/*****************************
GLOBAL SETTINGS
******************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width:100%;
  height:100px;
  line-height: 100px;
  background-color: white;
  text-align: center;
}

#searchBox {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 16px;
  padding-left: 20px;
  width: 80%;
  max-width: 460px;
  height: 35px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.5);
  border: thin solid rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px;
}

.container {
  text-align: center;
  height: 100%;
  width: 100%;
}

.gallery {
  width:95%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.gallery ul {
  list-style: none;
}

.gallery ul li {
  display: inline-block;
  margin: 0 30px 40px 30px;
  width: 200px;
  height: 200px;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  top:0;
  left:0;
  display: none;
  text-align: center;
  padding-top: 5%;
}

#overlay img {
  max-width: 680px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 10px;
}

#caption {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  color: white;
  font-weight: normal;
  max-width: 600px;
  margin: 0 auto 20px auto;
}

#clickToClose {
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
}

.clearfix:before,
.clearfix:after {
display: table;
content: " ";
}

.clearfix:after {
clear: both;
}

#nextButton,
#prevButton {
  display: inline-block;
  width:60px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
  border : none;
  background-color: rgba(29, 85, 119, 0.5);
  color: white;
}

#nextButton:hover,
#prevButton:hover {
  background-color: rgba(29, 85, 119, 0.9);
}

#clickToClose {
  cursor: pointer;
}

#originalImage {
  background-color: rgba(29, 85, 119, 0.5);
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  border : none;
}

#originalImage:hover {
  background-color: rgba(29, 85, 119, 0.9);
}

/*****************************
RESPONSIVE SECTION
******************************/

@media (min-width: 992px) {

.gallery {
    width: 980px;
}

#overlay img {
  width: 70%;
}

.gallery ul li {
  float: left;
  margin: 0 30px 40px 30px;
  width: 200px;
  height: 200px;
}

.gallery ul {
    width: 980px;
}

.gallery ul li:nth-of-type(4n+1) {
  margin-left: 0;
}

.gallery ul li:nth-of-type(4n+4) {
  margin-right: 0;
}

}

@media (min-width: 1200px) {

}
